@import "style.css";
.box-shadow {
  box-shadow: 0px 5px 15px 0px rgba(255, 255, 255, 0.5);
}
.text-shadow {
  text-shadow: #141414 1px 0 6px;
}
* {
  box-sizing: border-box;
}
body {
  padding: 0 30px 0 30px;
  font-family: sans-serif;
  color: #FFFFFF;
  background-color: #141414;
}
.header {
  position: fixed;
  z-index: 10;
  background: linear-gradient(to bottom, #141414, rgba(0, 0, 0, 0));
  top: 0;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  width: 95%;
  align-items: center;
  text-shadow: #141414 1px 0 6px;
}
.header__title {
  font-size: 29px;
  font-weight: bold;
  color: #E50914;
}
.header__nav--selected {
  font-weight: bold;
}
.header__nav--end {
  margin-left: auto;
}
.header__nav--end li {
  display: inline-block;
  list-style-type: none;
  margin: 0 8px;
  padding: 0;
}
.header__nav--end li:hover {
  cursor: pointer;
  text-shadow: #CCC 1px 0 10px;
  color: #E50914;
}
.header__nav li {
  display: inline-block;
  list-style-type: none;
  margin: 0 8px;
  padding: 0;
}
.header__nav li:hover {
  cursor: pointer;
  text-shadow: #CCC 1px 0 5px;
  color: #141414;
}
.main {
  height: 500px;
  width: 100vw;
  background-image: url(../images/got3.jpg);
  background-size: 100vw;
  position: absolute;
  top: -10px;
  left: -15px;
  z-index: -1;
}
.main__degradado {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #141414);
}
.intro {
  padding-top: 120px;
  padding-bottom: 20px;
  max-width: 500px;
}
.intro__title {
  text-shadow: #141414 1px 0 6px;
  font-weight: bold;
  font-size: 24px;
}
.intro__description {
  text-shadow: #141414 1px 0 6px;
  margin: 15px 0 15px 0;
  line-height: 1.2em;
}
.intro__button-a {
  padding: 8px 16px;
  border: none;
  text-decoration: none;
  color: black;
  background-color: #FFFFFF;
  border-radius: 8px;
  font-weight: bold;
}
.intro__button-b {
  padding: 8px 16px;
  border: none;
  text-decoration: none;
  color: #FFFFFF;
  background-color: rgba(148, 148, 148, 0.6);
  border-radius: 8px;
}
.btn {
  height: 130px;
  line-height: 5em;
  color: white;
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.356);
  cursor: pointer;
  z-index: 10;
}
.list {
  padding: 30px 0;
}
.list__title {
  font-size: 18px;
}
.list__box {
  height: 150px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.list__box .left {
  height: 130px;
  line-height: 5em;
  color: white;
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.356);
  cursor: pointer;
  z-index: 10;
  left: 0;
}
.list__box .right {
  height: 130px;
  line-height: 5em;
  color: white;
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.356);
  cursor: pointer;
  z-index: 10;
  right: 0;
}
.list__box-caroucel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  scroll-behavior: smooth;
}
.list__box-caroucel img {
  box-shadow: 0px 5px 15px 0px rgba(255, 255, 255, 0.5);
  margin: 0 2px;
  height: 130px;
  width: 230px;
}
.list__box-caroucel img:hover {
  animation-name: animation;
  animation-duration: 1s;
}
@keyframes animation {
  from {
    height: 130px;
    width: 230px;
  }
  to {
    height: 210px;
    width: 410px;
    box-shadow: #CCC 1px 0 10px;
  }
}
.outstanding {
  display: flex;
  align-items: center;
}
.outstanding__img {
  max-height: 500px;
}
.outstanding__img img {
  width: 100%;
}
.outstanding__card {
  margin-left: 18px;
  max-width: 500px;
}
.outstanding__card-title {
  padding: 18px 0;
}
.outstanding__card--bg {
  height: 400px;
  width: 700px;
  left: 35%;
  position: absolute;
  background-image: url(../images/him.jpg);
  opacity: 0.1;
}
