.list{
padding: 30px 0;
    &__title{
        font-size: 18px;
    }
    &__box{
        height: 150px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img{
            // .box-shadow;
            margin: 0 2px;
            height: 130px;
            width: 230px;
            &:hover {
                box-shadow: #CCC 1px 0 10px; 
                height: 260px;
                width: 460px;
              }
        }
        iframe{
            // .box-shadow;
            height: 130px;
            width: 230px;
            &:hover {
                height: 260px;
                width: 460px;
              }
        }
    }
}