.outstanding{
   display:flex;
   align-items: center;
    &__img{
        max-height: 500px;
        img{
            width: 100%;
        }
    }
    &__card{
        margin-left: 18px;
        max-width: 500px;
        &-title{
            padding: 18px 0;
        }
        &--bg{
            height: 400px;
            width: 700px;
            left: 35%;
            position: absolute;
            background-image: url(../images/him.jpg);
            opacity: .1;
        }
    }
}