+list("Populares en "+page)
+list("Continuar viendo")
+list("Tendencias")
include outstanding.pug
+list("Programas aclamados por la critica")
+list("Originales de "+page)
+list("Nuevos lanzamientos")
