header.header
    span.header__title #{page}
    nav.header__nav
        ul
            li.header__nav--selected Inicio
            li Programas
            li Películas
            li Más recientes
            li Mi lista
    nav.header__nav--end
        ul
            li 
                i.icon-search
            li 
                i.icon-bell
            li #{user}
        