include list.pug
-var page="MEMEFLIX"
-var user="Walter Díaz"

doctype html
html    
    include head.pug
    body
        include header.pug
        include main.pug
        include content.pug
       

