.main
    .main__degradado
section.intro
    .intro__title Game of Thrones
    .intro__description En un mundo fantástico y en un contexto medieval varias familias, relativas a la nobleza, se disputan el poder para dominar el territorio ficticio de Poniente (Westeros) y tomar el control de los Siete Reinos desde el Trono de Hierro, lugar donde el rey ejerce el poder.
    .intro__button
        button.intro__button-a 
            i.icon-play 
            |  Reproducir
        button.intro__button-b 
            i.icon-info 
            |  Mas información