.outstanding
    .outstanding__img
        img(src="../images/himym.jpg", alt="Imagen")
    .outstanding__card--bg
    .outstanding__card
        .outstanding__card-title How I Met Your Mother
        .outstanding__card-img
            button.intro__button-a 
                i.icon-play 
                |  Reproducir
            button.intro__button-b 
                i.icon-info 
                |  Mas informaci칩n
            .intro__description En el a침o 2030, el arquitecto Ted Mosby (Josh Radnor) decide contarle a sus dos hijos la historia de c칩mo conoci칩 a su madre. ...